.hover1:hover{

    color: red !important;
    font-weight: bold;
}
.hover2:hover{
    color: red !important;
    font-weight: bold;
}
.hover3:hover{
    color: red !important;
    font-weight: bold;
}
.hover4:hover{
    color: red !important;
    font-weight: bold;
}
.hover5:hover{
    color: red !important;
    font-weight: bold;
}
.active-link {
    font-weight: bold;
    color: #ffcc00; /* Example color for the active link */
}
