.full-bg-style{
    background-color: black;
   
}

.home-banner-header{
    font-size: 70px;
    font-weight: 900;
    background: -webkit-linear-gradient(#f81f01, #ee076e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 70px;
}

.about-header-1{
    font-size: 60px;
    font-weight: 900;
}

.bg-second{
    background-color: rgb(32, 31, 31);
}

.services-header-1{
    font-size: 60px;
    font-weight: 900;
}

.link-style{
    text-decoration: none;
}

.col-style:hover{
    background: linear-gradient(#f81f01, #ee076e);
    border-radius: 10px;
    

}

.fun-fact-bg{
    background-color: rgb(32, 31, 31);

}

.temp-position{
    position: relative;
    bottom: 10px;
}

.partners-list{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.partners-list img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.second-partners-list{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.second-partners-list img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.linkStyle{
    text-decoration: none;
}

.symbol-style:hover{
    color: aliceblue;
    position: relative;
    transform: translateY(-5px);
    transition: 1s;
}

.navbar-contact-style:hover{
    position: relative;
    transform: translateY(-5px);
    transition: 1s;
}

.left-footer-style{
    background: linear-gradient(#f81f01, #ee076e);
    opacity: 96%;
}

.left-footer-relative{
    position: relative;
    margin-top: -350px; ;
   
}

.left-footer-relative h1{
    font-size: 70px;
    font-weight: 900;
    color: white;
}

.left-footer-relative p {
    font-size: 20px;
    color: white;

}

.position-style{
    margin-top: -120px;
}

.contact-number-style{
    color: gray;
   

}
.contact-number-style:hover{
    color: red;
   

}

.bg-sec{
    background-color: whitesmoke;
}

.services-title{
    font-size: 50px;
    background: -webkit-linear-gradient(290deg,#f81f01, #ee076e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.marketing-service-style{
    background-color: whitesmoke;
}


.marketing-service-style h1 {
    font-size: 50px;
    font-weight: 900;
}

.img-style{
    width: 43px;
    height: 43px;
}

.strategy-service-style{
    font-size: 50px;
    font-weight: 900;
}

.hover-style:hover{
    background-color: white;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
    transform: translateY(-10px);
}

.hover-styles:hover{
    background-color: gainsboro;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
    transform: translateY(-10px);
}

.agency-service-style{
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
    transform: translateY(-10px);
}

.about-header-style{
    background: -webkit-linear-gradient(290deg,#f81f01, #ee076e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-page-p{
    font-size: 18px;

}



.fun-fact-h1{
    background: -webkit-linear-gradient(#f81f01, #ee076e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.skilled-team-h1{
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.skilled-team-p{
    font-size: 18px;

}

/* .skilled-employee :hover{
  
    
    transition: 0.5s;
    transform: rotateY(90deg);
} */

.desc-img-hover img:hover{
    transition: 0.5s;
    transform: scale(1.1);

}

.bg-secondd{
    background-color: whitesmoke;
}

.dot-circle-style{
    height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  z-index: 100;
  position: relative;
  bottom: 32px;
  right: 9px;

}

/* .ms-style{
    position: relative;
    right: 30px;

} */

.bg-blog-style1{
    background-image: url(../Assets/Images/blog1.jpg);
    background-repeat: no-repeat;
    height: 530px;
    border-radius: 10px;
}

.bg-blog-style2{
    background-image: url(../Assets/Images/blog2.jpg);
    background-repeat: no-repeat;
    height: 530px;
    border-radius: 10px;
}

.bg-blog-style3{
    background-image: url(../Assets/Images/blog3.jpg);
    background-repeat: no-repeat;
    height: 530px;
    border-radius: 10px;
}

.bg-blog-style4{
    background-image: url(../Assets/Images/blog4.jpg);
    background-repeat: no-repeat;
    height: 530px;
    border-radius: 10px;
}

.bg-blog-style5{
    background-image: url(../Assets/Images/blog1.jpg);
    background-repeat: no-repeat;
    height: 530px;
    border-radius: 10px;
}

.bg-blog-style6{
    background-image: url(../Assets/Images/blog2.jpg);
    background-repeat: no-repeat;
    height: 530px;
    border-radius: 10px;
}

.blog-details-style{
    text-decoration: none;
}

.individual-blog-background{

}

.single-vlog-header{
    background: -webkit-linear-gradient(#f81f01, #ee076e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;

}

.author-information{
    width: 60%;
}


/* .blogs{
    background-image: url('../Assets/Images/blogs1.jpg');
    height: 200px;
    background-repeat: no-repeat;
    
}  */

.container-blog-bg{
    width: 80%;
}

.italic-width{
    width: 80%;
}

.lists-container{
    width: 90%;
}

.video-style{
    width: 100%;
    height: 450px;
}

.bg0-dark{
    background-color: black;
}